@import "tailwindcss";

body {
  /* background: linear-gradient(135deg, #061329 0%, #142835 100% 100%); */
  background: linear-gradient(135deg,rgb(3, 43, 37) 0%, #061329 70% 100%);
  color: #FFF;
  font-family: Inter, Helvetica, sans-serif;
}

a:hover {
  color: #34c7f8;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* colors */

/* 
acsent #34c7f8
dark blue #061329
dark green #142835 
*/